<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modify</title>
</head>
<body>
    <h1>Lion App Modify</h1>

    <form action = "{% url 'create_post' %}" method = "POST">  
        {% csrf_token %}    
        <label for = "title"> Title </label>    
        <input type = "text" name = "title" id = "title" value = "{{post.title}}">   

        <label for = "content"> Content </label>
        <input type = "text" name = "content" id = "content" value = "{{post.content}}" >

        <input type = "submit" value = "Modify">  
    </form>
    
</body>
</html>